*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');


body{
  background: url('../img/asfalt-dark.png') #222222;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #fff;
}

header h1 {
  text-align: center;
  margin-top: 2%;
  color: #E91E63;
  text-shadow: #000 0 0 3px;

}

.contenedorImg {
  width: 90%;
  margin: 2% auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.imagen {
  width: 47%;
  margin-bottom: 2%;
  background: linear-gradient(45deg,#d09a39,#ff005e);
}

.imagen img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.5s ease-in;
}

.imagen img:hover{
  opacity: 1;
}

/* FORMULARIO */
form {
  width: 90%;
  margin: 2% auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

input,textarea {
  width: 30.5%;
  font-size: 1.2em;
  font-weight: bold;
}

input[type=file] {
  border: 4px dashed #fff;
}

input[type=submit] {
  width: 97.3%;
  margin-top: 1%;
  background: linear-gradient(45deg,#ffbc43,#ff005e);
  border: 0;
  padding: 1% 0;
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
}
